.body {
  margin-top: 48px;
  background: rgb(218, 224, 230);
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.body-menu {
  background-color: #ffffff;
  padding: 10px;
}

.submenu {
  width: 980px;
  margin: 0 auto;
  display: flex;

  .view-layout {
    display: flex;
    align-items: center;
    width: 112px;

    .label {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 12px;
      text-transform: uppercase;
      color: rgb(124, 124, 124);
      margin-top: 1px;
    }

    .view-menu-btn-container {
      margin-left: 12px;
      height: 20px;
    }

    .view-menu-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .separator {
    height: 20px;
    width: 1px;
    background: rgb(237, 239, 241);
    margin: 0 15px 0 10px;
  }

  .sort {
    display: flex;
    align-items: center;

    .sort-menu-container {
      display: flex;
      height: 20px;
      align-items: center;
      width: 80px;
      margin: 0 10px;
      position: relative;
      cursor: pointer;

      .sort-menu-label {
        color: rgb(0, 121, 211);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-left: 5px;
        text-transform: uppercase;
      }
    }

    .label {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 12px;
      text-transform: uppercase;
      color: rgb(124, 124, 124);
      margin-top: 1px;
    }

    .sort-hot-menu-icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .sort-menu-down-icon {
      width: 20px;
      height: 16px;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin-top: -2px;
    }
  }

  .country-selector {
    display: flex;
    align-items: center;
    position: relative;
    width: 110px;
    cursor: pointer;

    .country-selector-label {
      color: rgb(0, 121, 211);
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-left: 5px;
      text-transform: uppercase;
    }

    .menu-down-icon {
      width: 20px;
      height: 16px;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin-top: -2px;
    }
  }
}

.countries-menu, .trends-menu {
  background-color: #ffffff;
  max-height: 200px;
  position: absolute;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  color: rgb(28, 28, 28);
  margin-top: 8px;
  z-index: 10;
  border-radius: 4px;
  visibility: hidden;
}

.btn-dropdown-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(135, 138, 140);
  fill: rgb(135, 138, 140);
  background-color: rgb(255, 255, 255);
  display: block;
  text-transform: capitalize;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-image: initial;
  padding: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: rgb(229, 241, 250);
    color: rgb(28, 28, 28);
    fill: rgb(28, 28, 28);
    border-color: rgb(229, 241, 250);
    outline: none;
  }
}

#view-card-unselected, #view-classic-selected, #view-compact-selected {
  display: none;
}

.action-menu {
  margin-right: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #606984;
  transition: color 100ms ease-in;
  padding: 0;
  font-size: 16px;
  outline: none;

  &:hover {
    color: #707b97;
    -webkit-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
  }
}
