$breakpoint--xs: 420px;
$breakpoint--m: 832px;
$breakpoint--l:	960px;
$breakpoint--xl: 1152px;
$breakpoint--xxl: 1800px;

.header {
  height: 48px;
  background-color: rgb(255, 255, 255);
  color: rgb(28, 28, 28);
  border-bottom: 1px solid rgb(237, 239, 241);
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 30;
  padding: 0 20px;
  display: flex;
  flex-grow: 1;

  .logo-text {
    font-size: 20px;
    font-weight: 600;
    padding: 2px 0;
    margin-left: 5px;
    margin-right: 20px;
  }

  .popular-selector {
    position: relative;
    display: flex;
    width: 270px;

    .popular-button {
      background-color: transparent;
      width: 100%;
      display: flex;
      cursor: pointer;
      margin: 7px 0px;
      height: 75%;
      border-color: #edeff1;
      border-radius: 4px;
      border-width: 1px;
      outline: 0;
    }

    .popular-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin-left: 8px;
    }

    .popular-icon {
      left: 10px;
      height: 22px;
      top: 50%;
      width: 22px;
    }

    .down-arrow-icon {
      position: absolute;
      right: 8px;
      height: 20px;
      width: 20px;
      vertical-align: middle;
    }

    .popular-menu {
      width: 268px;
      max-height: 482px;
      background-color: #ffffff;
      border-radius: 0 0 4px 4px;
      position: absolute;
      top: 100%;
      padding: 0 0 12px;
      margin-top: -16px;
      border: 1px solid #edeff1;
      border-top: none;
      display: none;
    }

    .filter {
      background-color: rgb(246, 247, 248);
      color: rgb(28, 28, 28);
      border-width: 1px;
      border-style: solid;
      border-color: rgb(237, 239, 241);
      border-image: initial;
      height: 30px;
      margin: 16px 16px 0;
      outline: none;
      padding: 0 6px;
      box-sizing: border-box;
      width: calc(100% - 32px);
      font-size: 14px;
      line-height: 21px;
    }

    .popular-links {
      display: flex;
      padding: 8px 24px;
    }

    .feed-title {
      color: rgb(135, 138, 140);
      padding: 16px 24px 8px;
      font-size: 10px;
      font-weight: 500;
      line-height: 16px;
      text-transform: uppercase;
    }

    .popular-links {
      font-size: 14px;
      line-height: 18px;
      text-decoration: none;
      color: #000000;
    }

  }

  .header-user-dropdown {
    position: relative;

    .user-menu-button {
      width: 70px;
      background-color: transparent;
      display: flex;
      cursor: pointer;
      margin: 7px 0px;
      height: 75%;
      border: none;
      outline: 0;
    }

    .person-account-icon {
      height: 24px;
      width: 24px;
    }

    .down-arrow-icon {
      height: 20px;
      width: 20px;
    }
  }

  .logo {
    padding: 6px 0;
    display: flex;

    @media screen and (min-width: $breakpoint--xs + 1) and (max-width: $breakpoint--l) {
      flex: 0 0 8%;
    }
  }

  .logo-image {
    width: 35px;
    height: 30px;
    margin-top: 2px;
  }

  .search-bar {
    flex: 0 0 52%;

    @media screen and (max-width: $breakpoint--xs) {
      flex: 0 0 71%;
    }
  }

  .account {
    flex: 1;
    display: flex;
    padding: 7px 0;
    justify-content: center;

    @media screen and (max-width: $breakpoint--xs) {
      flex: 0 0 15%;
    }

    @media screen and (min-width: $breakpoint--xs + 1) and (max-width: $breakpoint--l) {
      flex: 0 0 39%;
    }

    @media screen and (min-width: $breakpoint--l) {
      margin-right: 25px;
    }
  }
}

.search-icon {
  fill: rgb(135, 138, 140);
  width: 18px;
  height: 18px;
}

.search-icon-container {
  position: absolute;
  top: 50%;
  height: 18px;
  margin-left: 16px;
  margin-top: -8px;
}

.search-container {
  flex-grow: 1;
  padding: 7px 0;
  margin-left: 20px;
}

.search-input {
  -webkit-appearance: none;
  background-color: rgb(246, 247, 248);
  box-shadow: none;
  color: rgb(28, 28, 28);
  display: block;
  height: 36px;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-image: initial;
  outline: none;
  padding: 0px 16px 0px 40px;
  font-size: 14px;
  line-height: 21px;
}

.login-btn {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(0, 121, 211);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 16px;
  border-color: rgb(0, 121, 211);
  width: 120px;
}

.signup-btn {
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgb(0, 121, 211);
  color: rgb(255, 255, 255);
  display: block;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 16px;
  border-color: rgb(0, 121, 211);
  width: 120px;
  margin-left: 16px;
}

.account-icon {
  display: none;
}

.main-user-dropdown-menu {
  position: fixed;
  top: 47px;
  z-index: 80;
  width: 180px;
  background-color: #ffffff;
  right: 0;
  border: 1px solid #edeff1;
  box-shadow: rgba(28, 28, 28, 0.2) 0px 2px 4px 0px;
  border-radius: 4px;
  padding: 10px 0;
  display: none;

  .login-logout-icon {
    width: 20px;
    height: 20px;
  }

  .user-menu-links {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  .user-menu-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (max-width: $breakpoint--xs) {
  .account-icon {
    display: unset;
    max-height: 36px;
    max-width: 36px;
    height: 36px;
    width: 36px;
    color: rgb(135, 138, 140);
    fill: rgb(135, 138, 140);
    border-radius: 4px;
  }

  .login-btn {
    display: none;
  }

  .signup-btn {
    display: none;
  }
}

@media screen and (min-width: $breakpoint--xs + 1) and (max-width: $breakpoint--l) {
}

@media screen and (min-width: $breakpoint--l + 1) {
}
