<!DOCTYPE html>
<html>
<head>
  <title>cujian.com - 促见社区</title>
  <%= stylesheet_link_tag    "reddit/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "reddit/all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <div class="countries-menu">
    <div>
      <button class="btn-dropdown-menu">
        <span>Everywhere</span>
      </button>
    </div>
    <div>
      <button class="btn-dropdown-menu">
        <span>United States</span>
      </button>
    </div>
  </div>

  <div class="trends-menu">
    <div>
      <button class="btn-dropdown-menu">
        <span>New</span>
      </button>
    </div>
    <div>
      <button class="btn-dropdown-menu">
        <span>Top</span>
      </button>
    </div>
    <div>
      <button class="btn-dropdown-menu">
        <span>Rising</span>
      </button>
    </div>
  </div>
</body>
</html>
