<!DOCTYPE html>
<html>
<head>
  <title>cujian.com - 促见社区</title>
  <%= stylesheet_link_tag    "reddit/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "reddit/all", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
