@import "font-awesome-sprockets";
@import "font-awesome";
@import "base/global";
@import "base/colors";
@import "styles/header";
@import "styles/body";

$breakpoint--xs: 420px;
$breakpoint--m: 832px;
$breakpoint--l:	960px;
$breakpoint--xl: 1152px;
$breakpoint--xxl: 1800px;

.body-container {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
}

.mainbar-container {
  height: 10000px;
  min-width: 0px;
  width: 648px;
}

.sidebar {
  margin-left: 24px;
  width: 312px;
  flex: 0 0 312px;
}

.sidebar-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
}

.status {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  align-content: space-between;
}

.avatar {
  border-radius: 10px;
  width: 75px;
}

.status-card {
  margin-left: 15px;
  width: 100%;
}

.status-author {
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.posted-time {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #c1c1c1;
}

@media screen and (max-width: $breakpoint--xs) {
  .body-container {
    padding: 0;
  }

  .sidebar {
    display: none;
  }

  .posted-time {
    display: none;
  }

  .head-desktop, .head-tablet {
    display: none;
  }
}

@media screen and (min-width: $breakpoint--xs + 1) and (max-width: $breakpoint--l) {
  .body-container {
    padding: 0;
  }

  .sidebar {
    display: none;
  }

  .head-desktop, .head-mobile {
    display: none;
  }
}

@media screen and (min-width: $breakpoint--l + 1) {
  .head-mobile, .head-tablet {
    display: none;
  }
}
